{% extends "base.html" %}
{% block body %}
<p id="content">
</p>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
$(document).ready(function(){
  
  function update()
  {
    $.ajax({
      url: "/ajax/get/update/",
      dataType: "json",
      success: function( data ){
        if(!data['error']){
          var layout = data['layout'];
          console.log('layout is ', layout);
          if(layout=='layout1') {
            var image = data['image'];
            $('body').css('background-image', 'url(' + image + ')').css("background-repeat", "no-repeat");
          }
        }
      }
    });
  }

  update();
  setInterval(update, 3000);
});
</script>
{% endblock %}
